# Firebase
# Ignore Firebase config files
google-services.json
GoogleService-Info.plist

# dependencies
/node_modules/

# expo
/.expo/
/dist/
/web-build/

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
/android/app/build/
/android/.gradle/
/android/app/src/main/assets/

# iOS
/ios/build/
/ios/Pods/

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
